* {
  border: 1px dashed red;
}

/* NAVIGATION BAR ---------------------------- */

/* HEADER ------------------------------------ */

#header {
  padding-top: 50px;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#header div {
  margin: 50px auto;
}
#header img {
  margin: 0px auto;
  margin-bottom: 20px;
  max-height: 256px;
}
#header .text-center {
  margin: 0px;
}
#header h1 {
  font-size: 8.5vw;
  font-weight: 700;
}
#header h3 {
  font-size: 3.15vw;
  font-weight: 300;
}
@media (min-width: 768px) {
  #header h1 {
    font-size: 4.75em;
  }
  #header h3 {
    font-size: 1.75em;
  }
}
#header hr {
  width: 100px;
  margin: 10px auto;
  border: 2px solid white;
}

/* CONTENT ----------------------------------- */

body {
  position: relative;
}

.content {
  padding: 50px 0px;
}
.content h1 {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}
.content hr {
  width: 100px;
  margin: 10px auto;
  border: 2px solid #333333;
}

#about p {
  margin: 0px;
  font-size: 1.5em;
}

/* TIMELINE ---------------------------------- */

#timeline {
  position: relative;
}
#timeline:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid black;
}
#portfolio .timeline-badge {
  background-color: #333333;
  width: 60px;
  height: 60px;
  margin: 0px auto;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#portfolio .timeline-badge h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
  color: white;
  text-align: center;
  font-weight: bold;
}
#portfolio .timeline-item .panel {
  margin: 10px;
}
