* {
  /*border: 1px dashed red !important;*/
}

/* NAVIGATION BAR ---------------------------- */

/* HEADER ------------------------------------ */

#header {
  padding-top: 50px;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#header div {
  margin: 50px auto;
}
#header img {
  margin: 0px auto;
  margin-bottom: 20px;
  max-height: 256px;
}
#header .text-center {
  margin: 0px;
}
#header h1 {
  font-size: 8.5vw;
  font-weight: 700;
}
#header h3 {
  font-size: 3.15vw;
  font-weight: 300;
}
@media (min-width: 768px) {
  #header h1 {
    font-size: 4.75em;
  }
  #header h3 {
    font-size: 1.75em;
  }
}
#header hr {
  width: 100px;
  margin: 10px auto;
  border: 2px solid white;
}

/* CONTENT ----------------------------------- */

body {
  position: relative;
}

.content {
  padding: 50px 0px;
}
.content h1 {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}
.content hr {
  width: 100px;
  margin: 10px auto;
  border: 2px solid #333333;
}

#about p {
  margin: 0px;
  font-size: 1.5em;
}

/* TIMELINE ---------------------------------- */

#portfolio  {
  /*background-color: #AAAAAA;*/
}
#timeline {
  z-index: 0;
  position: relative;
}
#timeline-line {
  background-color: #333333;
  width: 3.5px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-2px);
}
#timeline-stop {
  clear: both;
  margin: 0px auto;
  width: 15px;
  height: 15px;
  background-color: #333333;
  border-radius: 50%;
}
#portfolio .timeline-badge {
  position: relative;
  clear: both;
  background-color: #333333;
  width: 60px;
  height: 60px;
  margin: 0px auto;
  border-radius: 50%;
}
#portfolio .timeline-badge h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
  color: white;
  text-align: center;
  font-weight: bold;
}
#portfolio .timeline-item {
  margin: 10px auto;
  max-width: 800px;
  position: relative;
  display: block;
}
#portfolio .timeline-item .panel {
  margin: 0px;
  padding: 10px;
}

#timeline .timeline-item-image {
  width: 300px;
  height: 169px;
  border-radius: 20px;
}

#timeline .timeline-item-title {
  font-size: 2em;
  font-weight: bold;
}

#timeline .timeline-item-subtitle {
}

#timeline .timeline-item-body {
}

@media (max-width: 767px) {
  #portfolio .timeline-item {
    max-width: 100%;
  }
}
