html
    head
        title Jacob Marks

        script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
        script(src="/js/jquery.fittext.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        script(src="https://use.fontawesome.com/1d0aebf98c.js")
        link(rel="stylesheet" href="/css/style.css")
        script(src="/js/scripts.js")
        script(src="/js/pugtemplate-post.js")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        .container
            .row.justify-content-center
                .col-4
                    h1 Feed
                .col-4.align-self-center.d-flex.justify-content-end
                    button.btn.btn-danger(onclick="truncatePosts()") TRUNCATE
            #postformdiv.row.justify-content-center
                .col-8
                    .card
                        .card-header Add Post
                        .card-block
                            form#postform(onsubmit="return false")
                                .form-group
                                    label(for="title") Title
                                    input.form-control(name="title" required)
                                .form-group
                                    label(for="body") Body
                                    input.form-control(name="body" type="text" required)
                                .form-group
                                    label(for="tags") Tags
                                    input.form-control(name="tags" type="text" required)
                                .d-flex.justify-content-end
                                    button.btn.btn-default(type="submit" onclick="addPost()") Submit
            .row.justify-content-center
                #posts.col-8    


        #banner.container-fluid.h-100
            .container.vertical-center
                .row.align-items-center.text-white
                    .col-md-6.noselect
                        #portraitgradient
                        img#portrait.w-100(src="/img/2017_medium_plain.jpg")
                    .col-md-6.text-center
                        h1#bannertitle.display-1.noselect Jacob Marks
                        p.noselect Queensland University of Technology
                        #socials.row.no-gutters
                            .col.text-center
                                a.btn-social(href="https://github.com/jacobjmarks" target="_blank")
                                    i.fa.fa-fw.fa-lg.fa-github
                            .col.text-center
                                a.btn-social(href="https://www.linkedin.com/in/jacobjmarks/" target="_blank")
                                    i.fa.fa-fw.fa-lg.fa-linkedin
                            .col.text-center
                                a.btn-social(href="mailto:jacobjmarks@outlook.com")
                                    i.fa.fa-fw.fa-lg.fa-envelope-o
                            .col.text-center
                                a.btn-social(href="https://www.facebook.com/jacobjmarks96" target="_blank")
                                    i.fa.fa-fw.fa-lg.fa-facebook
                            .col.text-center
                                a.btn-social(href="https://www.instagram.com/jacobjmarks/" target="_blank")
                                    i.fa.fa-fw.fa-lg.fa-instagram