body > :first-child {
    background-color: black;
}

#portraitgradient {
    margin: 0px 15px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: -webkit-radial-gradient(transparent, black);
    background: -o-radial-gradient(transparent, black);
    background: -moz-radial-gradient(transparent, black);
    background: radial-gradient(transparent 35%, black 75%);
}